<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Menu 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/61.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Bienvenido a la aplicacion</ion-card-title>
      </ion-card-header>
      <p>Aplicacion para realizar un control de actividades</p>
      <ion-card-content>
             </ion-card-content>
    </ion-card>
    <ion-content >
    <p>
      <ion-chip >
        <ion-avatar>
          <ion-icon name="bookmarks"></ion-icon>
        </ion-avatar>
        <ion-label>Registros </ion-label>
        <button ion-button clear color="dark" >
          <ion-icon name="arrow-dropright"></ion-icon>
        </button>
      </ion-chip>
    </p>
<p>
      <ion-chip>
        <ion-avatar>
          <ion-icon name="star"></ion-icon>
        </ion-avatar>
        <ion-label>Opciones</ion-label>
        <button ion-button clear color="dark" >
          <ion-icon name="arrow-dropright"></ion-icon>
        </button>
      </ion-chip>
    </p>
    <p>
      <ion-chip>
        <ion-avatar>
          <ion-icon name="md-bulb"></ion-icon>
        </ion-avatar>
        <ion-label>Informacion </ion-label>
        <button ion-button clear color="dark" >
          <ion-icon name="arrow-dropright"></ion-icon>
        </button>
      </ion-chip>
    </p>
    <p>
      <ion-chip>
        <ion-avatar>
          <ion-icon name="star"></ion-icon>
        </ion-avatar>
        <ion-label>Nueva tarea </ion-label>
        <button ion-button clear color="dark" >
          <ion-icon name="arrow-dropright"></ion-icon>
        </button>
      </ion-chip>
    </p>
    <p>
      <ion-chip>
        <ion-avatar>
          <ion-icon name="build"></ion-icon>
        </ion-avatar>
        <ion-label>Configuracion </ion-label>
        <button ion-button clear color="dark" >
          <ion-icon name="arrow-dropright"></ion-icon>
        </button>
      </ion-chip>
    </p>

</ion-content>
