<ion-header>
  <ion-toolbar>
    <ion-title>
      Tarea nueva
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
  <ion-label>Nombre de tarea</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label fixed>Hora</ion-label>
  <ion-input type="url"></ion-input>
</ion-item>

<ion-item>
  <ion-label floating>Fecha</ion-label>
  <ion-input type="email"></ion-input>
</ion-item>

<ion-item>
  <ion-label stacked>Lugar</ion-label>
  <ion-input type="tel"></ion-input>
</ion-item>

<ion-item>
  <ion-label>Enceder una alarma </ion-label>
  <ion-toggle></ion-toggle>
</ion-item>

<ion-item>
  <ion-label>Marcar en caso de que se desea suspender</ion-label>
  <ion-checkbox></ion-checkbox>
</ion-item>

</ion-content>
